name: Python actions

on:
  pull_request:
    branches:
      - master

jobs:
  run_test_bots:
    name: Run test bots

    runs-on: ubuntu-latest
    timeout-minutes: 30


    strategy:
      fail-fast: true
      matrix:
        opponents: [ vs_blizzard_protoss.py, vs_blizzard_zerg.py, vs_blizzard_terran.py ]

    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Print directories and files
      run: |
        sudo apt-get install tree
        tree
    - name: Load and build docker image
      run: |
        docker build -t test_image -f .github/workflows/Dockerfile .

    - name: Run bots
      run: |
        docker run -it -d --name app1 test_image
        docker exec -i app1 bash -c "tree"
        docker exec -i app1 bash -c "python ./.github/travis_test_script.py ./test/${{ matrix.opponents }}"
        docker rm -f app1
